*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    gap: 2vh;
    background-image: url(../imagens/praia02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: all 1s linear;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: "Nixie One", system-ui;
}

.tudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
    gap: 10px;
}

.cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    color: aliceblue;
    border-radius: 999px;
    border: solid 2px;
    border-color: #7ED957;
    width: 30%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Nixie One", system-ui;
}

h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    border-radius: 999px;
    border: solid 2px;
    border-color: #7ED957;
    width: 20%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: "Nixie One", system-ui;
}

.cartoes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 6vh;
    text-align: left;
    overflow: hidden;
    width: 100%;
}

@media(width <= 800px){
    .cat, h2{
        width: 70%;
        height: auto;
    }
}

@media(width >= 800px){
    body{
        background-image: url(../imagens/praia01.png);
    };
    p {
        opacity: 1;
    }
    .cartoes{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card-img-top{
    max-width: 100%;
}
footer{
    margin-top: 10vh;
    padding-top: 10px;
    width: 100%;
    background-color: #A0DDE6;
    color: black;
}
.sn-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sobre-nos{
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.info{
    margin: 0 5vw;
    display: block;
}
.redes-sociais{
    margin: 2vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lista-redes-sociais{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;
}
.lista-sobre-nos{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-sobre-nos li{
    margin-top: 10px;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: underline;
}
