*{
    margin: 0;
    padding: 0;
}

body{
    font-family: ;
    background-image: ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    transition: all 1s linear;
}