*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-image: url(../imagens/praia02.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: auto;
    transition: all 1s linear;
    font-family: "Nixie One", system-ui;
    overflow-x: hidden;
    overflow-y: auto;
}

@media(width >= 800px){
    body{
        background-image: url(../imagens/praia01.png);
    };
    p {
        opacity: 1;
    }
}

.primario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    height: 100%;
    width: 100%;
    margin-top: 4vh;
}

.img-style{
    width: 400px;
    height: auto;
    border-radius: 100%;
    transition: all 200ms linear;
    animation: fromRight 1.2s linear;
}

@keyframes  fromRight{
    0%{
        opacity: 0.3;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

p{
    font-size: 3rem;
    font-weight: 900;
    opacity: 0.6;
    color: white;
    transition: all 200ms linear;
}

p:hover{
    cursor: pointer;
    opacity: 1;
    filter: blur(0px);
    transition: all 200ms linear;
    color: #38B6FF;
    border-color: #004AAD;
}

.img-style:hover{
    transform: scale(1.1);
    transition: all 400ms linear;
}

.wrap-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fromLeft 1.2s linear;
}

@keyframes fromLeft{
    0%{
        opacity: 0.3;
        transform: translateX(100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.compra{
    margin: 10px;
    border: solid 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(240, 248, 255, 1);
    border-radius: 5px;
    width: 100%;
    height: auto;
    transition: all 200ms linear;
}

.compra:hover{
    border-color: #7ED957;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 200ms linear;
    border-radius: 20px;
    transform: translateY(-5px) translateX(5px);
    box-shadow: rgba(46, 91, 240, 0.4) -5px 5px, rgba(46, 91, 240, 0.3) -10px 10px, rgba(46, 91, 240, 0.2) -15px 15px, rgba(46, 91, 240, 0.1) -20px 20px, rgba(46, 91, 240, 0.05) -25px 25px;
}

.compra:active{
    transform: translateY(0px);
    box-shadow: none;
}

.catalogo{
    margin: 10px;
    border: solid 3px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(240, 248, 255, 1);
    border-radius: 5px;
    width:100%;
    height: auto;
    transition: all 200ms linear;
}

.catalogo:hover{
    border-color: #7ED957;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 200ms linear;
    border-radius: 20px;
    transform: translateY(-5px) translateX(-5px);
    box-shadow: rgba(46, 91, 240, 0.4) 5px 5px, rgba(46, 91, 240, 0.3) 10px 10px, rgba(46, 91, 240,0.2) 15px 15px, rgba(46, 91, 240, 0.1) 20px 20px, rgba(46, 91, 240, 0.05) 25px 25px;
}

.catalogo:active{
    transform: translateY(0px);
    box-shadow: none;
}

